<?xml version="1.0"?>
<robot name="phantomx_turret" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find phantomx_turret)/urdf/pan_tilt_hardware.xacro"/>

  <material name="White">
    <color rgba="0.87 0.90 0.87 1.0"/>
  </material>
  <material name="Black">
    <color rgba="0.08 0.08 0.08 1.0"/>
  </material>
  <material name="Gray">
    <color rgba="0.2 0.2 0.21 1.0"/>
  </material>
  <material name="Green">
    <color rgba="0.22 0.32 0.14 1.0"/>
  </material>

  <link name="base_link"/>

  <base_mount parent="base_link" name="base_mount" color="Gray" >
      <origin xyz="0 0 0"/>
  </base_mount>

  <!-- AX-12A Pan !-->
  <AX12A_fixed parent="base_mount_link" name="pan_servo">
    <origin xyz="0 0.11 -1.74305e-16" rpy="0 0 0"/>
  </AX12A_fixed>

</robot>